<p class="p-toolbar" >
  <label style="float: left;display: block;
  width: 100%;" align="right">Soignant/Médecin</label>
  <mat-toolbar class="color-toolbar" *ngIf="role != 1">
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;">Données transverses pédiatriques</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
  <mat-toolbar class="color-toolbar">
    <div class="Donnes-Trans" *ngIf="router.url === '/recueilDeDonnesPiedatriquesComponent'
    || router.url === '/contexteFamilial'
    || router.url === '/atcdFam'
    || router.url === '/grosssessePeriodeNeonat'
    || router.url === '/vaccin'
    || router.url === '/croissance'">
      <mat-button-toggle-group>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/contexteFamilial">Contexte
          familial et social</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/atcdFam">ATCD familiaux -
          Arbre Généalogique</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/grosssessePeriodeNeonat" >
          Grossesse - période Néonatale</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/vaccin">Vaccinations
        </mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/croissance">Croissance
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-toolbar>
  <img src="../../../assets/bare1.png" usemap="#image-map" style="width: 100%;">
</p>

