<p class="p-toolbar" >
  <label style="float: left;display: block;
  width: 100%;" align="right">Soignant/Médecin</label>
  <mat-toolbar class="color-toolbar">
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;">Données transverses pédiatriques</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
  <!-- 1er ligne formulaire soignant-->
  <mat-toolbar class="color-toolbar">
    <div class="Donnes-Trans">
      <mat-button-toggle-group>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/contexteFamilial">Contexte
          familial et social</mat-button-toggle>
          <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
          routerLink="/AutoSoins" routerLinkActive="Color">Autorisation de soin</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/croissance">Croissance
        </mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/PreparationALaSortie">Préparation à la sortie
        </mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/psycho">Psycho social
        </mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/KineEtOrto">Kiné et Orthophoniste
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-toolbar>
    <!-- 2em ligne formulaire medecin view only-->
    <mat-toolbar class="color-toolbar">
      <div class="Donnes-Trans">
        <mat-button-toggle-group>
          <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
          routerLinkActive="Color" routerLink="/AdmissionSoignant">Admission
          </mat-button-toggle>
          <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
          routerLinkActive="Color" routerLink="/atcdFam">ATCD Familiaux
          </mat-button-toggle>
          <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
          routerLinkActive="Color" routerLink="/vaccin">Vaccination
          </mat-button-toggle>
          <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
          routerLinkActive="Color" routerLink="/vaccin">GrowthXP
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-toolbar>
  <img src="../../../assets/bare4.PNG" usemap="#image-map" style="width: 100%;">
</p>
