<p class="p-toolbar" >
  <label style="float: left;display: block;
  width: 100%;" align="right">Soignant/Médecin</label>
  <mat-toolbar class="color-toolbar" *ngIf="role != 1">
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;">Données transverses pédiatriques</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
  <mat-toolbar class="color-toolbar">
    <div class="Donnes-Trans" *ngIf="router.url === '/recueilDeDonnesPiedatriquesComponent'
    || router.url === '/contexteFamilial'
    || router.url === '/atcdFam'
    || router.url === '/grosssessePeriodeNeonat'
    || router.url === '/vaccin'
    || router.url === '/croissance'">
      <mat-button-toggle-group>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"  routerLink="/contexteFamilial">Contexte
          familial et social</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"  routerLink="/atcdFam">ATCD familiaux -
          Arbre Généalogique</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLink="/grosssessePeriodeNeonat" >
          Grossesse - période Néonatale</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"  routerLink="/vaccin">Vaccinations
        </mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;" routerLink="/croissance">Croissance
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-toolbar>
</p>
<p class="nav-place"></p>
<button  mat-icon-button routerLink="/AdmissionSoignant"><mat-icon>assignment</mat-icon>Accès formulaire mèdecin</button>

<div class="row">
  <div class="content">
    <div class="tableau">
      <div class="tablHeader">
        <mat-grid-list cols="11" rowHeight="3:1">
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile>Date de naissance</mat-grid-tile>
          <mat-grid-tile>Durée de grossesse (SA)</mat-grid-tile>
          <mat-grid-tile>Jours (0 à 6)</mat-grid-tile>
          <mat-grid-tile>Poids (kg)</mat-grid-tile>
          <mat-grid-tile>DS Poids</mat-grid-tile>
          <mat-grid-tile>Taille (cm)</mat-grid-tile>
          <mat-grid-tile>DS Taille</mat-grid-tile>
          <mat-grid-tile>PC (cm)</mat-grid-tile>
          <mat-grid-tile>DS PC</mat-grid-tile>
          <mat-grid-tile>Jumeaux ou plus</mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-grid-list cols="11" rowHeight="3:1">
        <mat-grid-tile>Données de Naissance</mat-grid-tile>
        <mat-grid-tile><input type="date"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile>??</mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile>????</mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile>?????</mat-grid-tile>
        <mat-grid-tile><input type="checkbox"></mat-grid-tile>
      </mat-grid-list>
      <div class="tablHeader">
        <mat-grid-list cols="7" rowHeight="10:1">
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile>Taille cible</mat-grid-tile>
          <mat-grid-tile>DS Taille cible</mat-grid-tile>
          <mat-grid-tile>Ménarche</mat-grid-tile>
          <mat-grid-tile>Ménarche Année</mat-grid-tile>
          <mat-grid-tile>Ménarche Mois</mat-grid-tile>
          <mat-grid-tile>Ménarche jours</mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-grid-list cols="7" rowHeight="10:3">
        <mat-grid-tile>Données de l'enfant</mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile>????</mat-grid-tile>
        <mat-grid-tile><input type="checkbox"></mat-grid-tile>
        <mat-grid-tile>??</mat-grid-tile>
        <mat-grid-tile>??</mat-grid-tile>
        <mat-grid-tile>???</mat-grid-tile>
      </mat-grid-list>
      <div class="tablHeader">
        <mat-grid-list cols="6" rowHeight="10:1">
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile>Poids père (kg)</mat-grid-tile>
          <mat-grid-tile>Taille père (cm)</mat-grid-tile>
          <mat-grid-tile>PC père (cm)</mat-grid-tile>
          <mat-grid-tile>IMC</mat-grid-tile>
          <mat-grid-tile>DS IMC</mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-grid-list cols="6" rowHeight="10:2">
        <mat-grid-tile>Données du Père</mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile>??</mat-grid-tile>
      </mat-grid-list>
      <div class="tablHeader">
        <mat-grid-list cols="6" rowHeight="10:1">
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile>Poids mère (kg)</mat-grid-tile>
          <mat-grid-tile>Taille mère (cm)</mat-grid-tile>
          <mat-grid-tile>PC mère (cm)</mat-grid-tile>
          <mat-grid-tile>IMC</mat-grid-tile>
          <mat-grid-tile>DS IMC</mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-grid-list cols="6" rowHeight="10:2">
        <mat-grid-tile>Données de la Mère</mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile><input type="number"></mat-grid-tile>
        <mat-grid-tile>??</mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <p>Choix de la courbe</p>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Courbe fille</mat-radio-button>
    <mat-radio-button value="2">Courbe garçon</mat-radio-button>
  </mat-radio-group><br><br>
  <label>Données de suivi enfant</label>
  <p> Ordre de tri des tableaux
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Croissant</mat-radio-button>
      <mat-radio-button value="2">Décroissant</mat-radio-button>
    </mat-radio-group>
  </p>
  <p><input type="checkbox"> Afficher toutes les données</p>
</div>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1 style="color: black; font-size: medium;">Auxologie</h1>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="tablHeader">
    <mat-grid-list cols="12" rowHeight="10:3">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>N de dossier</mat-grid-tile>
      <mat-grid-tile>Date</mat-grid-tile>
      <mat-grid-tile>Age</mat-grid-tile>
      <mat-grid-tile>Poids (kg)</mat-grid-tile>
      <mat-grid-tile>DS Poids</mat-grid-tile>
      <mat-grid-tile>Taille (cm)</mat-grid-tile>
      <mat-grid-tile>DS Taille</mat-grid-tile>
      <mat-grid-tile>IMC</mat-grid-tile>
      <mat-grid-tile>DS IMC</mat-grid-tile>
      <mat-grid-tile>PC (cm)</mat-grid-tile>
      <mat-grid-tile>DS PC</mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list cols="12" rowHeight="10:3">
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="date"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile>??</mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile>????</mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile>?????</mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile>?????</mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1 style="color: black; font-size: medium;">Auxologie 2 & âge osseux</h1>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="tablHeader">
    <mat-grid-list cols="9" rowHeight="10:3">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>N de dossier</mat-grid-tile>
      <mat-grid-tile>Date</mat-grid-tile>
      <mat-grid-tile>Age</mat-grid-tile>
      <mat-grid-tile>Envergure des bras (cm)</mat-grid-tile>
      <mat-grid-tile>Taille assis(e) (cm)</mat-grid-tile>
      <mat-grid-tile>Longeur des pieds (cm)</mat-grid-tile>
      <mat-grid-tile>Tour de taille (cm)</mat-grid-tile>
      <mat-grid-tile>Age osseux Greulich-Pyle (AAMM)</mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list cols="9" rowHeight="10:3">
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="date"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1 style="color: black; font-size: medium;">Puberté</h1>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="tablHeader">
    <mat-grid-list cols="7" rowHeight="10:2">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>N de dossier</mat-grid-tile>
      <mat-grid-tile>Date</mat-grid-tile>
      <mat-grid-tile>Age</mat-grid-tile>
      <mat-grid-tile>Méthode d'évaluation de la puberté</mat-grid-tile>
      <mat-grid-tile>Poitrine (1 - 5)</mat-grid-tile>
      <mat-grid-tile>Poils pubiens ????</mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list cols="7" rowHeight="10:2">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><input type="date"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1 style="color: black; font-size: medium;">Commentaire</h1>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="tablHeader">
    <mat-grid-list cols="5" rowHeight="10:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>N de dossier</mat-grid-tile>
      <mat-grid-tile>Date</mat-grid-tile>
      <mat-grid-tile>Age</mat-grid-tile>
      <mat-grid-tile>Commentaire</mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list cols="5" rowHeight="10:1">
    <mat-grid-tile> </mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="number"></mat-grid-tile>
    <mat-grid-tile><input type="text"></mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
