<p class="p-toolbar" >
  <label style="float: left;display: block;
  width: 100%;" align="right">Médecin</label>
  <mat-toolbar class="color-toolbar" >
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"  routerLink="/Admission">Admission
      </mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/ExamenCliniqueInitial">Examen clinique initial</mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/EvolutionMedical">Evolution médicale</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/AssistanteSociale" >Assistante sociale</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/AutoSoins">Autorisation de soin</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/PreparationALaSortie" style="background-color: white;">Préparation à la sortie</mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/Sortie">Sortie</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
</p>
<p class="nav-place"></p>
<button  mat-icon-button routerLink="/contexteFamilial"><mat-icon>assignment</mat-icon>Accès formulaire soignant</button>
