<p class="p-toolbar" >
  <label style="float: left;display: block;
  width: 100%;" align="right">Médecin</label>
              <mat-toolbar class="color-toolbar" >
                <mat-button-toggle-group>
                  <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;">Observation médicale pédiatrique</mat-button-toggle>
                  </mat-button-toggle-group>
              </mat-toolbar>
  <mat-toolbar class="color-toolbar" >
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"  routerLink="/Admission">Admission
      </mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/ExamenCliniqueInitial">Examen clinique initial</mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/EvolutionMedical">Evolution médicale</mat-button-toggle>

        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/AutoSoins">Autorisation de soin</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/PreparationALaSortie" >Préparation à la sortie</mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/Sortie" style="background-color: white;">Sortie</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
</p>
<p class="nav-place"></p>
<button  mat-icon-button routerLink="/contexteFamilial"><mat-icon>assignment</mat-icon>Accès formulaire soignant</button>

<section>
  <div>
    <div class="">
      <div class="row">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Coordonnées de la famille
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              <div class="content">
                <label>Adresse de la famille :</label>
                <input type="datetime-local" matInput>
              </div>
              <div class="content">
                <label>Nom de la mère :</label>
                <input type="text">
                <label>Prénom de la mère :</label>
                <input type="text">
              </div><br>
              <div>
                <label>Nom du second parent :</label>
                <input type="text">
                <label>Prénom du second parent :</label>
                <input type="text">
              </div><br>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Données générales de l'enfant
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              <div class="content">
                <label>Nom : </label>
                <input type="text">
                <label>Prénom : </label>
                <input type="text">
                <label>Sexe : </label>
                <input type="text">
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Données générales de l'hospitalisation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              <label>Hospitalisé en :</label>
              <input type="text">
              <label>du : <input type="date"> au : <input type="date"></label><br>
              <label>Adressé par : <input type="text"></label><br>
              <label>Motif d'admission : <input type="text"></label><br>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Période anténatale
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              Période anténatale : <input type="text">
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Modalité de naissance - histoire de la maladie
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              Terme : <input type="text">
              Score d'Apgar : <input type="text"><br>
              pH au cordon : <input type="text">
              Lactates au cordon : <input type="text"><br>
              Poids : <input type="text">
              Taille : <input type="text">
              PC : <input type="text">
          </div>
        </div>
        </mat-expansion-panel><mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Evolution - Bilan paraclinique
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <label>Appareil respiratoire : <input type="text"></label> <br>
            <label>Système cardio-vasculaire : <input type="text"></label><br>
            <label>Système digestif-Nutrition-Cathéters centraux : <input type="text"></label><br>
            <label>Appareil ostéo-articulaire et musculaire-Peau : <input type="text"></label><br>
            <label>Hématologie : <input type="text"></label><br>
            <label>Infections : <input type="text"></label><br>
            <label>Biologie : <input type="text"></label><br>
            <label>Sérovaccinations : <input type="text"></label><br>
            <label>Autres : <input type="text"></label><br>
          </div>
        </mat-expansion-panel><mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Orientation de l'enfant
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row"><br>
            A la sortie <br>
            <label>Terme corrigé : <input type="text"></label><br>
            <label>Poids : <input type="text"></label>
            <label>Taille : <input type="text"></label>
            <label>PC : <input type="text"></label><br>
            <label>Traitement de sortie : <input type="text"></label><br>
            <label>Suite à donner : <input type="text"></label><br>
          </div>
        </mat-expansion-panel><mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Information parents/entourage
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row"><br>

          </div>
        </mat-expansion-panel><mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Risque au cours du séjour
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row"><br>

          </div>
        </mat-expansion-panel><mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Statut lettre de liaison Néonatologie
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row"><br>

          </div>
        </mat-expansion-panel><mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Conclusion - DIagnostics
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row"><br>

          </div>
        </mat-expansion-panel><mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
             Génération/historique lettre de liaison Néonatologie
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row"><br>

          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</section>
