<p class="p-toolbar" >
  <mat-toolbar class="color-toolbar" >
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;">Orthophoniste</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
</p>
<p class="nav-placeOrt"></p>

<div class="row">
  <div class="content">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          Evaluation au doigt :
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="content">
          <label>Fouissement</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Oui</mat-radio-button>
            <mat-radio-button value="2">Non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Déclenchement de la succion</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Oui</mat-radio-button>
            <mat-radio-button value="2">Non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Etancheité labiale</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Oui</mat-radio-button>
            <mat-radio-button value="2">Non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Qualité de l'aspiration</label>
          <input matInput>
        </div>
        <div class="content">
          <label>Position de langue</label>
          <input matInput>
        </div>
        <div class="content">
          <label>Preccion rythmée</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Oui</mat-radio-button>
            <mat-radio-button value="2">Non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="2">signes de stress</mat-radio-button>
          </mat-radio-group>
          <input matInput>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="2">Réflexe nouséeux</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="2">Pressions alternatives(morsures)</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="content">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          Evaluation d'une alimentation :
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="content">
          <label>Alimentation donnée par</label>
          <input matInput>
        </div>
        <div class="content">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Sein</mat-radio-button>
            <mat-radio-button value="2">Biberon</mat-radio-button>
          </mat-radio-group>
          <input matInput>
        </div>
        <div class="content">
          <label>Bébé qui réclame</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Faissement</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Ouverture buccale</label>
          <input matInput>
        </div>
        <div class="content">
          <label>Qualité de la prise du sein ou de la tetine bouche :</label>
          <input matInput>
        </div>
        <div class="content">
          <label>Déclenchement de la succion</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Etanchéité labiale</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
          <input matInput>
        </div>
        <div class="content">
          <label>Etanchéité linguale</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
          <input matInput>
        </div>
        <div class="content">
          <label>Qualité de l'aspiration</label>
          <input matInput>
        </div>
        <div class="content">
          <label>Déglutitions visibles ou audibles</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
          <input matInput>
        </div>
        <div class="content">
          <label>Succion rythmée</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Coordination succion|Déglutitions|Verbigération</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">oui</mat-radio-button>
            <mat-radio-button value="2">non</mat-radio-button>
          </mat-radio-group>
          <input matInput>
        </div>
        <div class="content">
          <label>Maintien du sein ou de la tetine en bouche</label>
          <input matInput>
        </div>
        <div class="content">
          <label>Comportement générale</label>
          <input matInput>
        </div>
        <div class="content">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Fausses-routes</mat-radio-button>
            <mat-radio-button value="2">Taux</mat-radio-button>
            <mat-radio-button value="2">Désaturations</mat-radio-button>
            <mat-radio-button value="2">Bradycardies</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Réflexe nauséeux</mat-radio-button>
          </mat-radio-group>
          <input matInput>
        </div>
        <div class="content">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Régurgitations|vomissements</mat-radio-button>
            <mat-radio-button value="1">Rots</mat-radio-button>
            <mat-radio-button value="1">Gaz</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="content">
          <label>Quantité bue/temps</label>
          <input matInput>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="content">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          Conclusions :
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="content">
          <textarea style="width: 100%;" matInput cdkTextareaAutosize ></textarea>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
