<app-toolbar></app-toolbar>
<p class="nav-place-soignant"></p>

<button mat-icon-button routerLink="/AdmissionSoignant">
  <mat-icon>assignment</mat-icon>Accès formulaire mèdecin
</button>
  <div class="content">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          Orthophoniste
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-orthophoniste></app-orthophoniste>
    </mat-expansion-panel>
  </div>
  <div class="content">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          Kiné
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-kines></app-kines>
    </mat-expansion-panel>
  </div>
