<p class="p-toolbar" >
  <label style="float: left;display: block;
  width: 100%;" align="right">Soignant/Médecin</label>
  <mat-toolbar class="color-toolbar" *ngIf="role != 1">
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;">Données transverses pédiatriques</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
  <mat-toolbar class="color-toolbar">
    <div class="Donnes-Trans" *ngIf="router.url === '/recueilDeDonnesPiedatriquesComponent'
    || router.url === '/contexteFamilial'
    || router.url === '/atcdFam'
    || router.url === '/grosssessePeriodeNeonat'
    || router.url === '/vaccin'
    || router.url === '/croissance'">
      <mat-button-toggle-group>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"  routerLink="/contexteFamilial">Contexte
          familial et social</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar"  routerLink="/atcdFam">ATCD familiaux -
          Arbre Généalogique</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLink="/grosssessePeriodeNeonat" >
          Grossesse - période Néonatale</mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;" routerLink="/vaccin">Vaccinations
        </mat-button-toggle>
        <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLink="/croissance">Croissance
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-toolbar>
</p>
<p class="nav-place"></p>
<button  mat-icon-button routerLink="/AdmissionSoignant"><mat-icon>assignment</mat-icon>Accès formulaire mèdecin</button>


<body>
  <button>Formulaire Vaccin</button>
  <p>Vaccins :</p>
  <ul>
    <li>BCG</li>
    <ul>
      <li>BCG 16/11/2020 Sous-cutané XXXXX XXXX</li>
    </ul>
    <li>Test Tuberculinique
      <ul>
        <li>Test Tuberculinique 19/11/2020 Sous-cutané XXXXX XXXX</li>
      </ul>
    </li>
    <li>DTHPCoq Hib
      <ul>
        <li>DTHPCoq Hib 19/11/2020 Intramusculaire XXXXX XXXX</li>
      </ul>
    </li>
    <li>Pneumocoque conjugué
      <ul>
        <li>Pneumocoque conjugué 19/11/2020 Oral XXXXX XXXX</li>
      </ul>
    </li>
    <li>Pneumocoque 23 valence
      <ul>
        <li>Pneumocoque 23 valence 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>R.O.R
      <ul>
        <li>R.O.R 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>Hépatite B
      <ul>
        <li>Hépatite B 19/11/2020 Intramusculaire XXXXX XXXX</li>
      </ul>
    </li>
    <li>Hépatite A
      <ul>
        <li>Hépatite A 19/11/2020 Intramusculaire XXXXX XXXX</li>
      </ul>
    </li>
    <li>Méningocoque
      <ul>
        <li>Méningocoque 19/11/2020 Intramusculaire XXXXX XXXX</li>
        <li>Méningocoque 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>Grippe
      <ul>
        <li>Grippe 19/11/2020 Sous-cutané XXXXX XXXX</li>
      </ul>
    </li>
    <li>Rotavirus
      <ul>
        <li>Rotavirus 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>Varicelle
      <ul>
        <li>Varicelle 19/11/2020 Sous-cutané XXXXX XXXX</li>
        <li>Varicelle 19/11/2020 Autre XXXXX XXXX</li>
      </ul>
    </li>
    <li>Autres vaccinations :
      <ul>
        <li>Autre vaccination 19/11/2020 Sous-cutané XXXXX XXXX</li>
      </ul>
    </li>
  </ul>
</body>
