<p class="nav-place"></p>
<mat-toolbar class="color-toolbar">
  <mat-button-toggle-group>
    <mat-button-toggle class="Second-button-toolbar color-button-toolbar" (click)="role_soignant()">Soignant
    </mat-button-toggle>
    <mat-button-toggle class="Second-button-toolbar color-button-toolbar" (click)="role_med()">Médecin
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<body>
  <button>Formulaire Vaccin</button>
  <p>Vaccins :</p>
  <ul>
    <li>BCG</li>
    <ul>
      <li>16/11/2020</li>
    </ul>
    <li>Test Tuberculinique
      <ul>
        <li>19/11/2020</li>
      </ul>
    </li>
  </ul>
</body>
