<p class="nav-place"></p>
<mat-toolbar class="color-toolbar">
  <mat-button-toggle-group>
    <mat-button-toggle class="Second-button-toolbar color-button-toolbar" (click)="role_soignant()">Soignant
    </mat-button-toggle>
    <mat-button-toggle class="Second-button-toolbar color-button-toolbar" (click)="role_med()">Médecin
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<body>
  <button>Formulaire Vaccin</button>
  <p>Vaccins :</p>
  <ul>
    <li>BCG</li>
    <ul>
      <li>BCG 16/11/2020 Sous-cutané XXXXX XXXX</li>
    </ul>
    <li>Test Tuberculinique
      <ul>
        <li>Test Tuberculinique 19/11/2020 Sous-cutané XXXXX XXXX</li>
      </ul>
    </li>
    <li>DTHPCoq Hib
      <ul>
        <li>DTHPCoq Hib 19/11/2020 Intramusculaire XXXXX XXXX</li>
      </ul>
    </li>
    <li>Pneumocoque conjugué
      <ul>
        <li>Pneumocoque conjugué 19/11/2020 Oral XXXXX XXXX</li>
      </ul>
    </li>
    <li>Pneumocoque 23 valence
      <ul>
        <li>Pneumocoque 23 valence 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>R.O.R
      <ul>
        <li>R.O.R 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>Hépatite B
      <ul>
        <li>Hépatite B 19/11/2020 Intramusculaire XXXXX XXXX</li>
      </ul>
    </li>
    <li>Hépatite A
      <ul>
        <li>Hépatite A 19/11/2020 Intramusculaire XXXXX XXXX</li>
      </ul>
    </li>
    <li>Méningocoque
      <ul>
        <li>Méningocoque 19/11/2020 Intramusculaire XXXXX XXXX</li>
        <li>Méningocoque 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>Grippe
      <ul>
        <li>Grippe 19/11/2020 Sous-cutané XXXXX XXXX</li>
      </ul>
    </li>
    <li>Rotavirus
      <ul>
        <li>Rotavirus 19/11/2020 Intra-dermique XXXXX XXXX</li>
      </ul>
    </li>
    <li>Varicelle
      <ul>
        <li>Varicelle 19/11/2020 Sous-cutané XXXXX XXXX</li>
        <li>Varicelle 19/11/2020 Autre XXXXX XXXX</li>
      </ul>
    </li>
    <li>Autres vaccinations :
      <ul>
        <li>Autre vaccination 19/11/2020 Sous-cutané XXXXX XXXX</li>
      </ul>
    </li>
  </ul>
</body>
