.nav-place{
  height: 86px;
  margin: auto;
}
label{
  margin-right: 5px;
}
input{
  margin-right: 15px;
}
select{
  margin-right: 15px;
}
.content{
  margin-left: 15px;
}
.margin-center{
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    min-width: 50%;
    margin-top: 15px;
}
.titre{
  background-color: rgb(103, 141, 177);
}
.content{
  margin-top: 15px;
}
.panel{
  background-color: rgb(103, 141, 177)!important;
  height: 20%;
  color: white;
}
h1{
  color: white;
}
.tableInput{
  input{
    width: 100%;
    margin-right: 0 !important;
  }
  margin-bottom: 5px;
}


.tablHeader{
  background-color: rgb(192, 192, 192);
}
.auto-height {
  height: calc(100% - 64px);
}
.infoMere{
  label{
    height: 60px;
  }
}
.spacer {
  flex: 1 1 auto;
}

.button-toolbar{
  margin-top: 10px;
  margin-right: 2px;
  border-style: none;
  background:  rgb(219, 227, 245);


}

.p-toolbar{
  margin: 0;
  position: fixed;
  width: 100%;
  background:  rgb(211, 220, 243);
  z-index: 1000;
}

.color-toolbar{
  background:  rgb(202,213,233);
}

.color-button-toolbar{
  color:  black
}

.link-home{
  color: white;
  text-decoration: none;
}

.Second-button-toolbar{
  margin-right: 2px;
  border-style: none;
  background:  rgb(219, 227, 245);
}

.mat-button-toggle-checked {
  background-color: white !important;

}
.mat-button-toggle-label-content{
  height: 20px;
}
.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}

.mat-toolbar.color-toolbar.mat-toolbar-single-row{
  height: 0%;
}


