<app-toolbar-med></app-toolbar-med>
<p class="nav-place"></p>

<button  mat-icon-button routerLink="/contexteFamilial"><mat-icon>assignment</mat-icon>Accès formulaire soignant</button>

<section>
  <div>
    <div class="">
      <div class="row">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Admission en néonatologie
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              <div class="content">
                <label>Date d'admission :</label>
                <input type="datetime-local" matInput>
              </div>
              <div class="content">
                <label>Mode d'entrée :</label>
                <select >
                  <option></option>
                  <option >1 - ???</option>
                  <option >2 - Entrée en urgence</option>
                  <option >Autre</option>
                </select>
              </div>
              <div class="content">
                <label>Motif d'hospitalisation</label>
                <input type="text">
              </div>
              <div class="content">
                <label>Age</label>
                <input type="number">
              </div>
              <div class="content">
                <label>Age à l'entrée</label>
                <input type="number">
                <label>Poids à l'entrée</label>
                <input type="number">kg
              </div>
              <div class="content">
                <label>Terme de naissance</label>
                <input type="number">
                <label>Poids de naissance</label>
                <input type="number">kg
              </div>
              <div class="content">
                <label>Score d'apgar</label>
                <input matInput>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Si enfant né hors hopital
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
                <div class="content">
                  <label>En provenance de </label>
                  <select [(ngModel)]="secondSelectValue">
                    <option></option>
                    <option>Archet</option>
                    <option>Monaco</option>
                    <option>St-Jean</option>
                    <option>AntibesGrasse</option>
                    <option>Kantise</option>
                    <option>Cannes</option>
                    <option>Draguignan</option>
                    <option>Fréjus</option>
                    <option>Bastia </option>
                    <option></option>
                    <option value="Titulaire_Autre">Autre</option>
                  </select>
                  <input type="text" *ngIf="secondSelectValue == 'Titulaire_Autre'">
                </div>
                <div class="content">
                <label>Mode de transport :</label>
                <select >
                  <option></option>
                  <option value="fgfg">SAMU terrestre</option>
                  <option value="zae">Moyen aérien</option>
                </select>
              </div>
              <div class="content">
                <label>Lieu de naissance :</label>
                <input type="text">
              </div>
              <div class="content">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="Admission" #ctrl="ngModel"
                  required>
                  <mat-radio-button value="1"> Dossier </mat-radio-button>
                  <mat-radio-button value="2"> Carnet de santé </mat-radio-button>
                  <mat-radio-button value="3"> Autre à preciser <input type="text"></mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="content">
                <label>Faits à signaler (SAMU / Ambulance) </label>
                <input type="text">
              </div>
              <label> Scan de la fiche SAMU</label>
              <a href=" ">Sélectionner le document scanné</a><br>
              <mat-radio-button>T.I.U</mat-radio-button><br>
              <div class="content"><label>Date de transfert </label>
                <input type="date"><br>
                <label>Indications <input type="text"></label><br>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Correspondants
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              <div class="tablHeader">
                <mat-grid-list cols="7" rowHeight="10:1">
                  <mat-grid-tile>Type</mat-grid-tile>
                  <mat-grid-tile>Nom</mat-grid-tile>
                  <mat-grid-tile>Spécialité</mat-grid-tile>
                  <mat-grid-tile>Téléphone</mat-grid-tile>
                  <mat-grid-tile>Email</mat-grid-tile>
                  <mat-grid-tile>Adresse</mat-grid-tile>
                  <mat-grid-tile>Actualiser le</mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="7" rowHeight="10:1" class="tableInput">
                  <mat-grid-tile><select [(ngModel)]="secondSelectValue">
                    <option></option>
                    <option value="Titulaire_Pere">???</option>
                    <option value="Titulaire_Mere">Médecin traitant</option>
                    <option value="Titulaire_Autre">Autre</option>
                  </select></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input type="tel"></mat-grid-tile>
                  <mat-grid-tile><input type="email"></mat-grid-tile>
                  <mat-grid-tile><input type="text"></mat-grid-tile>
                  <mat-grid-tile><input type="date"></mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="7" rowHeight="10:1" class="tableInput" *ngIf="val1 != ''">
                  <mat-grid-tile><input matInput [(ngModel)]="val2" #ctrl="ngModel"></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input type="tel"></mat-grid-tile>
                  <mat-grid-tile><input type="email"></mat-grid-tile>
                  <mat-grid-tile><input type="text"></mat-grid-tile>
                  <mat-grid-tile><input type="date"></mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="panel">
            <mat-panel-title>
              Personne à prévenir
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="content">
              <div class="tablHeader">
                <mat-grid-list cols="7" rowHeight="10:1">
                  <mat-grid-tile>Nom</mat-grid-tile>
                  <mat-grid-tile>Prenom</mat-grid-tile>
                  <mat-grid-tile>Lien avec les parents</mat-grid-tile>
                  <mat-grid-tile>Téléphone</mat-grid-tile>
                  <mat-grid-tile>Email</mat-grid-tile>
                  <mat-grid-tile>Adresse</mat-grid-tile>
                  <mat-grid-tile>Actualiser le</mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="7" rowHeight="10:1" class="tableInput">
                  <mat-grid-tile><input matInput [(ngModel)]="val1" #ctrl="ngModel"></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input type="tel"></mat-grid-tile>
                  <mat-grid-tile><input type="email"></mat-grid-tile>
                  <mat-grid-tile><input type="text"></mat-grid-tile>
                  <mat-grid-tile><input type="date"></mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="7" rowHeight="10:1" class="tableInput" *ngIf="val1 != ''">
                  <mat-grid-tile><input matInput [(ngModel)]="val2" #ctrl="ngModel"></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input matInput></mat-grid-tile>
                  <mat-grid-tile><input type="tel"></mat-grid-tile>
                  <mat-grid-tile><input type="email"></mat-grid-tile>
                  <mat-grid-tile><input type="text"></mat-grid-tile>
                  <mat-grid-tile><input type="date"></mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</section>
