
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import '../node_modules/@angular/material/theming';

@include mat-core();

$bv-black: (

50: #E0E0E0,
100: #B3B3B3,
200: #808080,
300: #4D4D4D,
400: #262626,
500: #000000,
600: #000000,
700: #000000,
800: #000000,
900: #000000,
A100: #A6A6A6,
A200: #8C8C8C,
A400: #737373,
A700: #666666,
    contrast: (
  50: $black-87-opacity,
  100: $black-87-opacity,
  200: $black-87-opacity,
  300: $black-87-opacity,
  400: $black-87-opacity,
  500: white,
  600: white,
  700: white,
  800: $white-87-opacity,
  900: $white-87-opacity,
  A100: $black-87-opacity,
  A200: white,
  A400: white,
  A700: white,
)

);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$SiteDuWiner-primary: mat.define-palette(mat.$blue-palette);
$SiteDuWiner-accent: mat-palette($bv-black);

// The warn palette is optional (defaults to red).
$SiteDuWiner-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SiteDuWiner-theme: mat.define-light-theme((
  color: (
    primary: $SiteDuWiner-primary,
    accent: $SiteDuWiner-accent,
    warn: $SiteDuWiner-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SiteDuWiner-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
  background-color: rgb(255, 255, 255);
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel-header-title{
  color: white;
  font-size: 24px;
  height: 36px;
}


