body {
  background-image:url(../../../img/ConnexionOrbis.png);
  }

  button{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width:auto;
    margin-left:auto;
    margin-right:auto;
}
