<p class="p-toolbar" >
  <label style="float: left;display: block;
  width: 100%;" align="right">Médecin</label>
    <mat-toolbar class="color-toolbar" >
    <mat-button-toggle-group>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar" style="background-color: white;">Observation médicale pédiatrique</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
  <mat-toolbar class="color-toolbar" >
    <mat-button-toggle-group>
      <mat-button-toggle routerLinkActive="Color" class="Second-button-toolbar color-button-toolbar"routerLink="/Admission">Admission
      </mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/ExamenCliniqueInitial" routerLinkActive="Color">Examen clinique initial</mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/EvolutionMedical" routerLinkActive="Color">Evolution médicale</mat-button-toggle>
                <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color" routerLink="/atcdFam">
                  ATCD familiaux -
                  Arbre Généalogique</mat-button-toggle>
              <mat-button-toggle class="Second-button-toolbar color-button-toolbar" routerLinkActive="Color"
                routerLink="/grosssessePeriodeNeonat">
                Grossesse - période Néonatale</mat-button-toggle>
      <mat-button-toggle class="Second-button-toolbar color-button-toolbar"
        routerLink="/Sortie" routerLinkActive="Color">Sortie</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar>
  <img src="../../../assets/bare2.png" usemap="#image-map" style="width: 100%;" *ngIf="router.url != '/AutoSoins'">
</p>

