<app-toolbar></app-toolbar>
<p class="nav-place-soignant"></p>
<br>
<label>Suivi PMI : <input type="checkbox"> <select>
    <option></option>
    <option>PMI CANNES-OUEST</option>
    <option>PMI CANNES-EST</option>
    <option>PMI LE CANNET</option>
    <option>PMI GRASSE</option>
  <option>.....</option></select></label><br><br>
  <label for="">Vu par le psychologue social :</label>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Oui</mat-radio-button>
    <mat-radio-button value="2">Non</mat-radio-button>
  </mat-radio-group><br><br>
<label for="">Nom de l'IDE référent : <input type="text"></label>